.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2rem;
  z-index: -2;
  text-align: center;
}

.card {
  grid-template-rows: repeat(3, 1fr);
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.52);
  border-radius: 12px;
  color: white;
}

.card-img {
  width: 80%;
  margin-bottom: 1rem;
}
.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.cta-btn {
  margin: 5px 10px;
  padding: 10px 15px;
  background-color: #191970;
  color: white;
  border: none;
  border-radius: 2px;
}
.cta-btn-alt {
  padding: 10px 15px;
  background-color: #228b22;
  border: none;
  border-radius: 2px;
  color: white;
}
